{% extends 'base.html' %}
{% load static %}
{% block title %}KomiksNatin{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div id="myModal" class="modal">
  <div class="modal-content">
      <div class="modal-header">
      <h5 align="center">Are you sure you want to delete your account?</h5>
      </div>
      <form method="post" action="{% url 'komikrepo:deleteAccount' username=user.username %}">

    <div class="container">
    <div style="text-align:center;">
            {% csrf_token %}
            <div class="row">

                <div class="six columns">
                    <h6>Password:</h6>
                </div>
                <div class="four columns">
                    <input class="u-full-width" type="password" placeholder="Password" id="id_password" name="password">
                </div>

            </div>
    </div>
    </div>
    <hr>
    <div class="modal-footer"  style="text-align:center;">

            <div class="row">
                <button class="button-primary  u-max-full-width" type="submit">Delete</button>
                <a align="center" class="button button u-max-full-width" id="close">No</a>
            </div>
        </div>
        </form>

  </div>
</div>

<div class="row">
    <div class="four columns sticky">
        <h1 align="center"><strong>{{ account }}</strong></h1>
        <h6 align="center">{{ description }}</h6>
        {% if user.is_authenticated %}
            {% if user.username == account %}
                <div class="row">
                    <div class="twelve columns u-max-full-width">
                        <a class="button button-primary u-full-width" href="{% url 'komikrepo:editAccount' username=user.username %}">Edit Account</a>
                    </div>
                </div>
                <div class="row">
                    <div class="twelve columns u-max-full-width">
                        <button id="openModal" class="u-full-width">Delete Account</button>
                    </div>
                </div>
            {% endif %}
        {% endif %}

    </div>
    <div class="eight columns">
        <h5>Reviews by user</h5>
        <hr>
        {% for review in reviews %}
            <div class="row flex-komik-review u-max-full-width">
                <div style="max-width: 100px;min-width: 70px;">
                    <img src="{% static "" %}images/komikrepo/{{ review.komik.image_url }}" alt="Avatar" style="width:100%">
                </div>
                <div style="min-width: 180px;max-width: 420px;">
                <!-- <div> -->
                    <a href="{% url 'komikrepo:viewKomik' id=review.komik.id %}"><h4><em>{{ review.komik.title }}</em></a> : <strong>{{ review.rating }}☆</strong></h4>
                    <p  style="white-space: pre-line">{{ review.comment }}</p>
                </div>
            </div>
            <hr>
        {% endfor %}

    </div>
</div>
{% else %}
<h1 align="center">Login First!</h1>
{% endif %}

{% endblock %}
{% block jscript %}
<script type="text/javascript">
var modal = document.getElementById('myModal');
console.log('puta')
// Get the button that opens the modal
var btn = document.getElementById("openModal");

// Get the <span> element that closes the modal
var span = document.getElementById("close");

// When the user clicks on the button, open the modal
btn.onclick = function() {
    console.log('yow');
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
{% endblock %}
