{% extends 'base.html' %}
{% load static %}
{% block title %}KomiksNatin{% endblock %}
{% block content %}

<div class="row">
    {% if user.is_authenticated %}
    <h1 align="center">Home</h1>
    <div class="twelve columns">
        <h3>Highest Rated Komiks</h3>
        <hr>
        <div class="index-container">
        {% for item in komiks %}

            <div class="index-img">
                <a href="{% url 'komikrepo:viewKomik' id=item.id %}"><img src="{% static "" %}images/komikrepo/{{ item.image_url }}" alt="Avatar" style="width:100%"></a>
            </div>


            {% empty %}
                <h3 class="listtopspace" align="center">No results for the query</h3>

        {% endfor %}
        </div>
        <h3>Random Featured List</h3>
        <hr>
        <div class="container">
            <div class="row">
                <div class="nine columns">
                    <h2><strong><a href="{% url 'komikrepo:viewList' id=list.id %}">{{ list.title }}</a></strong></h2>
                    <p style="margin-bottom: 20px;"><em>Top {{ list.list_size }}</em></p>
                </div>
                <div class="three columns">
                    {% if user.username == list.user.username %}
                    <a class="button" href="{% url 'komikrepo:updateList' id=list.id %}" style="margin-top: 10px; float:right;">Edit List</a>
                    {% else %}
                    <h6 style="margin-top: 10px; float:right;"><a href="{% url 'komikrepo:account' username=list.user.username %}">{{list.user.username}}</a></h6>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <p style="white-space: pre-line;margin-bottom: 10px;">{{ list.description }}</p>
            </div>
        </div>
        <hr>

    {% else %}
    <div class="twelve columns">
        <h1 align="center">KomiksNatin</h1>
        <hr>
        <p class="u-max-full-width">
            This website is a repository of local komiks that I have heard of or read. You can add reviews for the komiks here. You can also create custom list of komiks. But before that, you must have an account. Click the signup button on the upper right corner to create an account.
            <br><br>
            From there, you can click on the komiks tab to view all the komiks (or search some specific ones). You can add a review by clicking on a komik and clicking the Add Review button. Reviews can be edited later if you want to or you can also delete them.
            <br><br>
            You can also create lists. Click on the Lists tab, you can view other user created lists or create your own. Creating lists are simple. Search for a komik on the right side. When added, you can add comments about it and you can also change ranks by dragging the komik to you desired rank. The changes are autosaved. For the comment, title and other text fields, you must first wait for the short loading to make sure that it is saved.
        </p>
        <hr>

    </div>
    {% endif %}
</div>


{% endblock %}
