{% extends 'base.html' %}
{% load static %}
{% block title %}KomiksNatin{% endblock %}
{% block content %}

<div class="row">
    {% if user.is_authenticated %}
    <h1 align="center">Home</h1>
    <div class="twelve columns">
        <h3>Highest Rated Komiks</h3>
        <hr>
        <div class="index-container">
        {% for item in komiks %}

            <div class="index-img">
                <a href="{% url 'komikrepo:viewKomik' id=item.id %}"><img src="{% static "" %}images/komikrepo/{{ item.image_url }}" alt="Avatar" style="width:100%"></a>
            </div>


            {% empty %}
                <h3 class="listtopspace" align="center">No results for the query</h3>

        {% endfor %}
        </div>
        <h3>Random Featured List</h3>
        <hr>
        <div class="container">
            <div class="row">
                <div class="nine columns">
                    <h2><strong><a href="{% url 'komikrepo:viewList' id=list.id %}">{{ list.title }}</a></strong></h2>
                    <p style="margin-bottom: 20px;"><em>Top {{ list.list_size }}</em></p>
                </div>
                <div class="three columns">
                    {% if user.username == list.user.username %}
                    <a class="button" href="{% url 'komikrepo:updateList' id=list.id %}" style="margin-top: 10px; float:right;">Edit List</a>
                    {% else %}
                    <h6 style="margin-top: 10px; float:right;"><a href="{% url 'komikrepo:account' username=list.user.username %}">{{list.user.username}}</a></h6>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <p style="white-space: pre-line;margin-bottom: 10px;">{{ list.description }}</p>
            </div>
        </div>
        <hr>

    {% else %}
    <div class="twelve columns">
        <h1 align="center">KomiksNatin</h1>
        <hr>
        <p class="u-max-full-width">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis dignissim ex id pulvinar. Cras eu mauris non eros rutrum varius in et ligula. Donec ultricies nisi ut massa fringilla ultrices. Praesent convallis posuere mauris, ac lacinia eros viverra vitae. Curabitur sit amet arcu risus. Aenean a condimentum leo. Praesent a orci eget nulla tincidunt consequat eget sit amet turpis. Fusce commodo lacinia elit et hendrerit. Curabitur ullamcorper tincidunt quam nec vulputate.
<br> <br>
Praesent quis tincidunt velit. Maecenas semper mattis metus, a consectetur purus commodo vel. Donec a iaculis tellus. Praesent eget metus dui. In dignissim vulputate mauris, id vehicula ante vestibulum at. Cras scelerisque, elit a porttitor tincidunt, est lectus laoreet felis, eget egestas quam mauris ut sapien. Quisque egestas neque vel arcu posuere consequat. Maecenas placerat lorem at arcu ullamcorper venenatis. In facilisis quis erat at suscipit. Duis vulputate aliquam velit, eu fermentum est rutrum vel. In ac ultrices mi, ut sollicitudin erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce congue eget purus ac ultricies. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
<br> <br>
Integer vel tincidunt purus. Nulla tempus sapien eget vestibulum aliquet. Vivamus nec urna posuere orci tristique pharetra sed eget leo. Aliquam pharetra ipsum odio, non eleifend tortor consequat a. Curabitur ac dui lectus. Nulla gravida consequat enim, eget ullamcorper mauris hendrerit et. In rutrum ultrices ligula, nec porta libero congue at. Maecenas commodo ex leo, vitae dapibus nisi iaculis vitae. Vestibulum varius risus vitae porttitor molestie. Nunc malesuada orci erat, a euismod turpis dignissim sit amet. Aliquam dapibus quam a egestas lacinia.
        </p>
        <hr>
        <p class="u-max-full-width">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis dignissim ex id pulvinar. Cras eu mauris non eros rutrum varius in et ligula. Donec ultricies nisi ut massa fringilla ultrices. Praesent convallis posuere mauris, ac lacinia eros viverra vitae. Curabitur sit amet arcu risus. Aenean a condimentum leo. Praesent a orci eget nulla tincidunt consequat eget sit amet turpis. Fusce commodo lacinia elit et hendrerit. Curabitur ullamcorper tincidunt quam nec vulputate.
<br> <br>
Praesent quis tincidunt velit. Maecenas semper mattis metus, a consectetur purus commodo vel. Donec a iaculis tellus. Praesent eget metus dui. In dignissim vulputate mauris, id vehicula ante vestibulum at. Cras scelerisque, elit a porttitor tincidunt, est lectus laoreet felis, eget egestas quam mauris ut sapien. Quisque egestas neque vel arcu posuere consequat. Maecenas placerat lorem at arcu ullamcorper venenatis. In facilisis quis erat at suscipit. Duis vulputate aliquam velit, eu fermentum est rutrum vel. In ac ultrices mi, ut sollicitudin erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce congue eget purus ac ultricies. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
<br> <br>
Integer vel tincidunt purus. Nulla tempus sapien eget vestibulum aliquet. Vivamus nec urna posuere orci tristique pharetra sed eget leo. Aliquam pharetra ipsum odio, non eleifend tortor consequat a. Curabitur ac dui lectus. Nulla gravida consequat enim, eget ullamcorper mauris hendrerit et. In rutrum ultrices ligula, nec porta libero congue at. Maecenas commodo ex leo, vitae dapibus nisi iaculis vitae. Vestibulum varius risus vitae porttitor molestie. Nunc malesuada orci erat, a euismod turpis dignissim sit amet. Aliquam dapibus quam a egestas lacinia.
        </p>
    </div>
    {% endif %}
</div>


{% endblock %}
