{% extends 'base.html' %}
{% load static %}
{% block title %}KomiksNatin{% endblock %}
{% block content %}

<div class="row">
    {% if user.is_authenticated %}
    <h1 align="center">Home</h1>
    <div class="twelve columns">
        <h5>Lists</h5>
        <hr>

        <div class="topspace">
            <div class="card">
                <div class="row">
                    <a href="#">
                    <div class="cardtitle slide_down">
                        <div class="container">
                            <h4 class="cardname"><em>Top 10: </em><strong> {{ hello }}</strong></h4>
                        </div>
                    </div>
                    </a>
                    <div class="u-max-full-width noverflow">

                        <p class="cardname">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
           </div>
        </div>




        <h5>Reviews</h5>
        <hr>

        <div class="topspace">
            <div class="card">
                <div class="row">
                    <a href="#">
                    <div class="cardtitle slide_down">
                        <div class="container">
                            <h4 class="cardname"><em>Top 10: </em><strong> {{ hello }}</strong></h4>
                        </div>
                    </div>
                    </a>
                    <div class="u-max-full-width noverflow">

                        <p class="cardname">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
           </div>
        </div>

        <div class="topspace">
            <div class="card">
                <div class="row">
                    <a href="#">
                    <div class="cardtitle slide_down">
                        <div class="container">
                            <h4 class="cardname"><em>Top 10: </em><strong> {{ hello }}</strong></h4>
                        </div>
                    </div>
                    </a>
                    <div class="u-max-full-width noverflow">

                        <p class="cardname">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
           </div>
        </div>

    </div>
    {% else %}
    <div class="twelve columns">
        <h1 align="center">KomiksNatin</h1>
        <hr>
        <p class="u-max-full-width">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis dignissim ex id pulvinar. Cras eu mauris non eros rutrum varius in et ligula. Donec ultricies nisi ut massa fringilla ultrices. Praesent convallis posuere mauris, ac lacinia eros viverra vitae. Curabitur sit amet arcu risus. Aenean a condimentum leo. Praesent a orci eget nulla tincidunt consequat eget sit amet turpis. Fusce commodo lacinia elit et hendrerit. Curabitur ullamcorper tincidunt quam nec vulputate.
<br> <br>
Praesent quis tincidunt velit. Maecenas semper mattis metus, a consectetur purus commodo vel. Donec a iaculis tellus. Praesent eget metus dui. In dignissim vulputate mauris, id vehicula ante vestibulum at. Cras scelerisque, elit a porttitor tincidunt, est lectus laoreet felis, eget egestas quam mauris ut sapien. Quisque egestas neque vel arcu posuere consequat. Maecenas placerat lorem at arcu ullamcorper venenatis. In facilisis quis erat at suscipit. Duis vulputate aliquam velit, eu fermentum est rutrum vel. In ac ultrices mi, ut sollicitudin erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce congue eget purus ac ultricies. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
<br> <br>
Integer vel tincidunt purus. Nulla tempus sapien eget vestibulum aliquet. Vivamus nec urna posuere orci tristique pharetra sed eget leo. Aliquam pharetra ipsum odio, non eleifend tortor consequat a. Curabitur ac dui lectus. Nulla gravida consequat enim, eget ullamcorper mauris hendrerit et. In rutrum ultrices ligula, nec porta libero congue at. Maecenas commodo ex leo, vitae dapibus nisi iaculis vitae. Vestibulum varius risus vitae porttitor molestie. Nunc malesuada orci erat, a euismod turpis dignissim sit amet. Aliquam dapibus quam a egestas lacinia.
        </p>
        <hr>
        <p class="u-max-full-width">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis dignissim ex id pulvinar. Cras eu mauris non eros rutrum varius in et ligula. Donec ultricies nisi ut massa fringilla ultrices. Praesent convallis posuere mauris, ac lacinia eros viverra vitae. Curabitur sit amet arcu risus. Aenean a condimentum leo. Praesent a orci eget nulla tincidunt consequat eget sit amet turpis. Fusce commodo lacinia elit et hendrerit. Curabitur ullamcorper tincidunt quam nec vulputate.
<br> <br>
Praesent quis tincidunt velit. Maecenas semper mattis metus, a consectetur purus commodo vel. Donec a iaculis tellus. Praesent eget metus dui. In dignissim vulputate mauris, id vehicula ante vestibulum at. Cras scelerisque, elit a porttitor tincidunt, est lectus laoreet felis, eget egestas quam mauris ut sapien. Quisque egestas neque vel arcu posuere consequat. Maecenas placerat lorem at arcu ullamcorper venenatis. In facilisis quis erat at suscipit. Duis vulputate aliquam velit, eu fermentum est rutrum vel. In ac ultrices mi, ut sollicitudin erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce congue eget purus ac ultricies. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
<br> <br>
Integer vel tincidunt purus. Nulla tempus sapien eget vestibulum aliquet. Vivamus nec urna posuere orci tristique pharetra sed eget leo. Aliquam pharetra ipsum odio, non eleifend tortor consequat a. Curabitur ac dui lectus. Nulla gravida consequat enim, eget ullamcorper mauris hendrerit et. In rutrum ultrices ligula, nec porta libero congue at. Maecenas commodo ex leo, vitae dapibus nisi iaculis vitae. Vestibulum varius risus vitae porttitor molestie. Nunc malesuada orci erat, a euismod turpis dignissim sit amet. Aliquam dapibus quam a egestas lacinia.
        </p>
    </div>
    {% endif %}
</div>


{% endblock %}
