{% extends 'base.html' %}
{% load static %}
{% block title %}KomiksNatin{% endblock %}
{% block content %}

<div id="myModal" class="modal">
  <div class="modal-content">
      <div class="modal-header">
      <h5 align="center">Are you sure you want to delete your review?</h5>
      </div>
      <form method="post" action="{% url 'komikrepo:deleteReviewKomik' id=komik.id %}">

    <div class="container">
    <div style="text-align:center;">
            {% csrf_token %}
            <div class="row">
            </div>
    </div>
    </div>
    <hr>
    <div class="modal-footer"  style="text-align:center;">

            <div class="row">
                <button class="button-primary  u-max-full-width" type="submit">Delete</button>
                <a align="center" class="button button u-max-full-width" id="close">No</a>
            </div>
        </div>
        </form>

  </div>
</div>


<div class="row">
    <div class="four columns sticky">

        <div class="singlekomik">
            <img src="{% static "" %}images/komikrepo/{{ komik.image_url }}" alt="Avatar" style="width:100%">
         <div class="singglekomiktext">
             <h4 align="center"><strong>{{ komik.title }}</strong></h4>
         </div>
        </div>
        <div class="container">
            <h6 align="center">
            {% for tag in komik.komik_tags.all %}
                {{ tag.name }}
            {% endfor %}
            </h6>
            <h6 align="center">
            {{ komik.author }}
            </h6>
        </div>


        {% if user.is_authenticated %}
            {% if canAdd %}
            <div class="row">
                <div class="twelve columns u-max-full-width">
                    <a class="button button-primary u-full-width" href="{% url 'komikrepo:reviewKomik' id=komik.id %}">Add Review</a>
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="twelve columns u-max-full-width">
                    <a class="button button-primary u-full-width" href="{% url 'komikrepo:editReviewKomik' id=komik.id %}">Edit Review</a>
                </div>
            </div>
            <div class="row">
                <div class="twelve columns u-max-full-width">
                    <a class="button button u-full-width" id="openModal">Delete Review</a>
                </div>
            </div>
            {% endif %}
        {% endif %}

    </div>
    <div class="eight columns">

        <div class="container">
            <h4 align="center"><strong>{{ komik.title }}</strong> {{ komik.rating }}☆</h4>

            <p align="center">{{ komik.description }}</p>
        </div>

        <h5 align="center">Reviews</h5>
        <hr>
        {% for review in reviews %}
            <div class="container">
                <a href="{% url 'komikrepo:account' username=review.user.username %}"><h4><em>{{ review.user.username }}</em></a> : <strong>{{ review.rating }}☆</strong></h4>
                <p style="white-space: pre-line">{{ review.comment }}</p>
            </div>
            <hr>
        {% endfor %}

    </div>
</div>

<script type="text/javascript">
    // Get the modal


</script>

{% endblock %}
{% block jscript %}
<script type="text/javascript">

var modal = document.getElementById('myModal');
console.log('puta')
// Get the button that opens the modal
var btn = document.getElementById("openModal");

// Get the <span> element that closes the modal
var span = document.getElementById("close");

// When the user clicks on the button, open the modal
btn.onclick = function() {
    console.log('yow');
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

{% endblock %}
