{% extends 'base.html' %}
{% load static %}
{% block title %}KomiksNatin{% endblock %}
{% block content %}
{% load komikrepo_extras %}

    <div class="stickyfilter">
        <div class="row">
            <form method="GET" action="{% url 'komikrepo:listKomiks' %}" class="nospace">

            <div class="eight columns">
                    <label class="filters">Action
                     <input type="checkbox" name="Action" id="Action">
                     <span class="checkmark"></span>
                    </label>

                    <label class="filters">Crime
                     <input type="checkbox" name="Crime" id="Crime">
                     <span class="checkmark"></span>
                    </label>

                    <label class="filters">Comedy
                     <input type="checkbox" name="Comedy" id="Comedy">
                     <span class="checkmark"></span>
                    </label>

                    <label class="filters">Drama
                     <input type="checkbox" name="Drama" id="Drama">
                     <span class="checkmark"></span>
                    </label>

                    <label class="filters">Horror
                     <input type="checkbox" name="Horror" id="Horror">
                     <span class="checkmark"></span>
                    </label>

                    <label class="filters">Mythology
                     <input type="checkbox" name="Mythology" id="Mythology">
                     <span class="checkmark"></span>
                    </label>

                    <label class="filters">Romance
                     <input type="checkbox" name="Romance" id="Romance">
                     <span class="checkmark"></span>
                    </label>

                    <label class="filters">Sci Fi
                     <input type="checkbox" name="Sci-Fi" id="Sci-Fi">
                     <span class="checkmark"></span>
                    </label>

            </div>

            <div class="one column">
                <div class="dropdown">
                  <button class="dropbtn invisibutton"><i class="fa fa-sort" ></i></button>
                  <div class="dropdown-content">
                    <a href="?{% url_replace request 'sort' 'abc' %}">abc ↓</a>
                    <a href="?{% url_replace request 'sort' 'cba' %}">abc ↑</a>
                    <a href="?{% url_replace request 'sort' 'rating' %}">rating ↓</a>
                    <a href="?{% url_replace request 'sort' 'gnitar' %}">rating ↑</a>
                  </div>
                </div>
                <button class="invisibutton" type="submit"><i class="fa fa-filter" ></i></button>
            </div>

            <div class="three columns">

                <div class="search">
                  <span class="fa fa-search"></span>
                  <input class="u-full-width" placeholder="Keep empty for all" id="search" name="search">
                </div>

            </div>
            </form>
        </div>
    </div>



    {% for item in komiks %}
        {% if forloop.counter0|divisibleby:2  %}
        <div class="row">
        <div class="six columns">
            <div class="listtopspace">
                <div class="row komik">
                    <div class="five columns">
                        <img src="{% static "" %}images/komikrepo/{{ item.image_url }}" alt="Avatar" style="width:100%">
                    </div>
                    <div class="seven columns">
                        <div class="noverflow1">
                            <h4><b><a href="{% url 'komikrepo:viewKomik' id=item.id %}">{{ item.title }}</a></b></h4>
                            <h6>{{ item.author }}</h6>
                          <p>{{ item.description }}</p>
                          <h6>
                          {% for tag in item.komik_tags.all %}
                              {{ tag.name }}
                          {% endfor %}
                          </h6>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% if forloop.last %}
            </div>
        {% endif %}

        {% else %}
        <div class="six columns">
            <div class="listtopspace">
                <div class="row komik">
                    <div class="five columns">
                        <img src="{% static "" %}images/komikrepo/{{ item.image_url }}" alt="Avatar" style="width:100%">
                    </div>
                    <div class="seven columns">
                        <div class="noverflow1">
                            <h4><b><a href="{% url 'komikrepo:viewKomik' id=item.id %}">{{ item.title }}</a></b></h4>
                            <h6>{{ item.author }}</h6>
                          <p>{{ item.description }}</p>
                          <h6>
                          {% for tag in item.komik_tags.all %}
                              {{ tag.name }}
                          {% endfor %}
                          </h6>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
        {% endif %}
        {% empty %}
            <h3 class="listtopspace" align="center">No result for the query</h3>

    {% endfor %}

{% if komiks.has_other_pages %}

    <div class="container"  style="text-align:center;">
        <div class="pagination">
            {% if komiks.has_previous %}
              <a href="{% url 'komikrepo:listKomiks' page=komiks.previous_page_number %}?{{ request.GET.urlencode }}">&laquo;</a>
            {% else %}
              <a class="disabled">&laquo;</a>
            {% endif %}
            {% for i in komiks.paginator.page_range %}
              {% if komiks.number == i %}
                <a class="active">{{ i }} <a class="sr-only">(current)</a></a>
              {% else %}
                <a href="{% url 'komikrepo:listKomiks' page=i %}?{{ request.GET.urlencode }}">{{ i }}</a>
              {% endif %}
            {% endfor %}
            {% if komiks.has_next %}
              <a href="{% url 'komikrepo:listKomiks' page=komiks.next_page_number %}?{{ request.GET.urlencode }}">&raquo;</a>
            {% else %}
              <a class="disabled">&raquo;</a>
            {% endif %}
        </div>
    </div>
{% endif %}




{% endblock %}
{% block jscript %}
<script type="text/javascript">

    var link = document.location.href.split('&');

    if(link[0]){
        link[0] = link[0].split('?')[1];
    }
    for(let i = 0; i < link.length; i++){
        link[i] = link[i].replace("=on", "")
        if (document.getElementById(link[i]) != null) {
            document.getElementById(link[i]).checked = true;
        } else {
            if (link[i].includes("search")) {
                link[i] = link[i].replace("search=", "");
                document.getElementById("search").value = link[i];
            } else if (link[i].includes("sort")) {

            }
        }
    }
    console.log('yah boy', link);

</script>
{% endblock %}
