{% extends 'base.html' %}
{% load static %}
{% block title %}Lists{% endblock %}
{% block content %}
{% load komikrepo_extras %}
    <div class="stickyfilter">
        <div class="row container">
            <form method="GET" action="{% url 'komikrepo:listList' %}" class="nospace">

            <div class="eight columns">

                <div class="search">
                  <span class="fa fa-search"></span>
                  <input class="u-full-width" placeholder="Keep empty for all" id="search" name="search" >
                </div>

            </div>
            <div class="three columns">
                <a class="button button-primary" href="{% url 'komikrepo:createList'%}" style="float:right;margin-bottom: 0px">Create List</a>
            </div>

            <div class="one column" style="overflow: visible;">
                <div class="dropdown">
                  <button class="dropbtn invisibutton" disabled><i class="fa fa-sort" ></i></button>
                  <div class="dropdown-content">
                      <a href="?{% url_replace request 'sort' 'abc' %}">abc ↓</a>
                      <a href="?{% url_replace request 'sort' 'cba' %}">abc ↑</a>
                      <a href="?{% url_replace request 'sort' 'new' %}">newest</a>
                      <a href="?{% url_replace request 'sort' 'old' %}">oldest</a>
                  </div>
                </div>
            </div>

            </form>
        </div>
    </div>

    <div class="" style="z-index: 0; margin: 10px;">
        <div class="">

    {% for item in lists %}
            <div class="row">
                <div class="nine columns">
                    <h2><strong><a href="{% url 'komikrepo:viewList' id=item.id %}">{{ item.title }}</a></strong></h2>
                    <p style="margin-bottom: 20px;"><em>Top {{ item.list_size }}</em></p>
                </div>
                <div class="three columns">
                    {% if user.username == item.user.username %}
                    <a class="button" href="{% url 'komikrepo:updateList' id=item.id %}" style="margin-top: 10px; float:right;">Edit List</a>
                    {% else %}
                    <h6 style="margin-top: 10px; float:right;"><a href="{% url 'komikrepo:account' username=item.user.username %}">{{item.user.username}}</a></h6>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <p style="white-space: pre-line;margin-bottom: 10px;">{{ item.description }}</p>
            </div>
            <hr>

        {% empty %}
            <h3 class="listtopspace" align="center">No results for the query</h3>

    {% endfor %}
        </div>

    </div>

{% if lists.has_other_pages %}

    <div class="container"  style="text-align:center;">
        <div class="pagination">
            {% if lists.has_previous %}
              <a href="{% url 'komikrepo:listList' page=lists.previous_page_number %}?{{ request.GET.urlencode }}">&laquo;</a>
            {% else %}
              <a class="disabled">&laquo;</a>
            {% endif %}
            {% for i in lists.paginator.page_range %}
              {% if lists.number == i %}
                <a class="active">{{ i }} <a class="sr-only">(current)</a></a>
              {% else %}
                <a href="{% url 'komikrepo:listList' page=i %}?{{ request.GET.urlencode }}">{{ i }}</a>
              {% endif %}
            {% endfor %}
            {% if lists.has_next %}
              <a href="{% url 'komikrepo:listList' page=lists.next_page_number %}?{{ request.GET.urlencode }}">&raquo;</a>
            {% else %}
              <a class="disabled">&raquo;</a>
            {% endif %}
        </div>
    </div>
{% endif %}




{% endblock %}
{% block jscript %}
<script>
    $(document).ready(function(){
        console.log('print');
        $('#search').keydown(function(event) {
          // enter has keyCode = 13, change it if you want to use another button
          if (event.keyCode == 13) {
              console.log('enter')
            this.form.submit();
            return false;
          }
        });
    });
    
var link = document.location.href.split('&');

if(link[0]){
    link[0] = link[0].split('?')[1];
}
console.log(link)
for(let i = 0; i < link.length; i++){
    if (link[i].includes("search")) {
        link[i] = link[i].replace("search=", "");
        document.getElementById("search").value = link[i];
    }
}
</script>
{% endblock %}
