{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{% static "css/normalize.css" %}">
  <link rel="stylesheet" href="{% static "css/skeleton.css" %}">

  <!-- Icon CSS -->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href={% static "images/favicon.png" %}>

  <!-- Jquery -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!-- NavBar -->
    <nav class="navbar">
        <div class="container">
            <ul>
                <li ><a class="left" href="{% url 'komikrepo:index' %}">Home</a></li>
                <li ><a class="left"  href="{% url 'komikrepo:listKomiks'%}">Komiks</a></li>
                <li ><a class="left"  href="{% url 'komikrepo:index' %}">Lists</a></li>
                {% if user.is_authenticated %}
                    <li ><a class="right"  href="{% url 'komikrepo:account' username=user.username %}">Account</a></li>
                    <li ><a class="right"  href="{% url 'komikrepo:logout' %}">Logout</a></li>
                {% else %}
                    <li ><a class="right"  href="{% url 'komikrepo:signup' %}">Signup</a></li>
                    <li ><a class="right"  href="{% url 'komikrepo:login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

  <div class="main">
      <div class="container">
          {% block content %}
          {% endblock %}
      </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>

{% block jscript %}
{% endblock %}

<css>

</css>
