{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    <h1 align="center">Hi {{ user.username }}!</h1>
{% else %}

    <h1 align="center"><strong>Login</strong></h1>
    <div class="container">

        <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="four columns">
            <h5 align="center">Username</h5>
            </div>
            <div class="six columns">
                <input class="u-full-width" type="text" placeholder="Username" id="id_username" name="username">
            </div>
        </div>
        <div class="row">
            <div class="four columns">
            <h5 align="center">Password</h5>
            </div>
            <div class="six columns">
                <input class="u-full-width" type="password" placeholder="Password" id="id_password" name="password">
            </div>
        </div>
        <div class="row" style="text-align:center;">
            <button class="button-primary" type="submit">Login</button>
            <a class="button" href="{% url 'komikrepo:signup' %}">Sign up</a>
        </div>
        </form>
    </div>


    <div class="container">
    {% if form.errors %}
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                <p align="center">{{ error }}</p>
            {% endfor %}
        {% endfor %}
    {% endif %}
    </div>

{% endif %}
{% endblock %}
