{% extends 'base.html' %}
{% load static %}
{% block title %}Signup{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    <h1 align="center">Hi {{ user.username }}, you must logout first before signup!</h1>
{% else %}

    <h1 align="center"><strong>Sign Up</strong></h1>
    <div class="container">

        <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="four columns">
            <h5 align="center">Username</h5>
            </div>
            <div class="six columns">
                <input class="u-full-width" type="text" placeholder="Username" id="username" name="username">
            </div>
        </div>
        <div class="row">
            <div class="four columns">
            <h5 align="center">Password</h5>
            </div>
            <div class="six columns">
                <input class="u-full-width" type="password" placeholder="Password" id="password1" name="password1">
            </div>
        </div>
        <div class="row">
            <div class="four columns">
            <h5 align="center">Retype Password</h5>
            </div>
            <div class="six columns">
                <input class="u-full-width" type="password" placeholder="Password" id="password2" name="password2">
            </div>
        </div>
        <div class="row">
            <div class="four columns">
            <h5 align="center">Description</h5>
            </div>
            <div class="six columns">
                <input class="u-full-width" type="text" placeholder="Description" id="description" name="description">
            </div>
        </div>
        <hr>
        <div class="row" style="text-align:center;">
            <button class="button-primary" type="submit">Signup</button>
            </div>
        </form>
    </div>

    <div class="container">
    {% if form.errors %}
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                <p align="center">{{ error }}</p>
            {% endfor %}
        {% endfor %}
    {% endif %}
    </div>

{% endif %}
{% endblock %}
